.app.dark{
    background-color: rgb(34, 34, 34);
    color: white;

    .chartgrid{
        stroke: rgb(0, 255, 128);
    }

    .table{
        background-color: rgb(32, 32, 32);
        .tablecell{
        color: white;
    }}

    .sidebar{
        background-color: black;
        color: white;
        .title{
            color: white;
        }
        ul{
            li{
                color: white;
                &:hover{
                    background-color: rgb(0, 255, 136);

                }
            }
        }
    }

    
      @keyframes glowdark {
        from {
          text-shadow: 0 0 10px #fff, 0 0 12px #fff, 0 0 14px #00e660,
            0 0 16px #00e660, 0 0 18px #00e660, 0 0 20px #00e660, 0 0 22px #00e660;
        }
        to {
          text-shadow: 0 0 13px #fff, 0 0 15px #00ca7d, 0 0 17px #00ca7d,
            0 0 19px #00ca7d, 0 0 21px #00ca7d, 0 0 23px #00ca7d, 0 0 25px #00ca7d;
        }
      }
}
